.background    { background: #FFFF00;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: #A24936; }
.wall          { background: #C70039;   }

.actor  { position: absolute;  }
.coin   { background: #F4D35E; }
.player { background: #581845; }
.enemy  { background: #034732; }
.win    { background: white;}


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
